<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the houses_init() hook (in hooks/houses.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="houses-house_number-<%%VALUE(id)%%>" class="houses-house_number"><%%SELECT%%><%%VALUE(house_number)%%><%%ENDSELECT%%></td>
		<td id="houses-features-<%%VALUE(id)%%>" class="houses-features"><%%SELECT%%><%%VALUE(features)%%><%%ENDSELECT%%></td>
		<td id="houses-rent-<%%VALUE(id)%%>" class="houses-rent"><%%SELECT%%><%%VALUE(rent)%%><%%ENDSELECT%%></td>
		<td id="houses-status-<%%VALUE(id)%%>" class="houses-status"><%%SELECT%%><%%VALUE(status)%%><%%ENDSELECT%%></td>
