<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fullname</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fullname)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Gender</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(gender)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">National ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(national_id)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Phone number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(phone_number)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Registration date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(registration_date)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">House</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="house<%%RND1%%>"><%%COMBOTEXT(house)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Agreement document</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="agreement_document-link" href="link.php?t=tenants&f=agreement_document&i=<%%VALUE(id)%%>" target="_blank"><i class="glyphicon glyphicon-file" title="<%%VALUE(agreement_document)%%>" style="font-size: x-large;"></i></a><script>jQuery(function(){ /* */ var e_agreement_document = '<%%VALUE(agreement_document)%%>'; if(e_agreement_document == '' || e_agreement_document == '&nbsp;' || e_agreement_document == 'blank.gif') jQuery('#agreement_document-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(status)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Exit date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(exit_date)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="tenants-children"></div>
</div>

<script>
	$j(function(){
		/* prevent loading child records in multiple DVP */
		if($j('[id=tenants-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'tenants',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'tenants-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function(){
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

